<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fstdataimport20190903102053.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0cfb5429-a9f2-465b-aeb3-337d96f6ee7a/resourcegroups/Kymeta-Sandbox-WestUS2/providers/Microsoft.Web/sites/FSTDataImport20190903102053</ResourceId>
    <UserName>$FSTDataImport20190903102053</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fstdataimport20190903102053.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>